h2{
    color:green;
  }
  h3{
    color:orange;
  }
  p{
    color:burlywood;
  }
  ul{
    color:darksalmon;
  }
  ol{
    color:indianred
  }
  [href] {
    color:coral;
}

a[href]:hover {
    color:darkgreen;
}

#the-big-boy {
    text-align: center;
    margin-left: 25%;
    background-color: cadetblue;
    height: 500px;
    width: 500px;
    border: 5px 5px dotted darkred;
    border-radius: 50%;
}

#introduction {
    background-color: antiquewhite;
}

div {
    background-color: bisque;
}

ul {
    background-color: wheat;
    text-align: left;
    list-style: georgian;
}

.essential-info {
    background-color:chocolate;
    text-align: justify;
}

.motherlands li {
    color:darkgoldenrod;
    text-align: left;
}

#bearin-around {
    background-color: darkorange;
}

